body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/414562/pexels-photo-414562.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-repeat: no-repeat;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;

}

img {
    height: 190.66px;
}
.btn-container {
    display: flex;
    margin: 20px;
    top: 15px;
    text-align: center;
    color: blanchedalmond;
    font-weight: bolder;
}
#pet {
    margin: 60px;
}
button{
    margin: 20px;
    top: 30%;
}

.center {
    position: absolute;
    padding-top: 80px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .container  {
    display: flex;  
}
.card {
    border-radius: 20px;
    background-image: url("https://images.pexels.com/photos/459037/pexels-photo-459037.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    
}
.card-title {
    text-align: center;
    background-color: beige;
}

